[Unit]

Description=NLP REVIEWS Application

After=network.target



[Service]

User=ubuntu

Group=www-data

WorkingDirectory=/var/projects/nlp/

ExecStart=/var/projects/nlp/venv/bin/gunicorn -c gunicorn_conf.py main:app --capture-output --log-level debug --timeout=120



[Install]

WantedBy=multi-user.target
